<h1>List of all Cohorts available</h1>

  <table class="chart">
    <tr class ='list_header'>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Course</th>
      <th>Max Student Limit</th>
    </tr>
    <% @cohorts.each do |i|%>
    <tr>
      <td> <%=i.name%></td>
      <% if i.start_date != nil && i.end_date != nil%>
      <td><%=i.start_date.strftime('%a, %B %e, %Y')%></td>
      <td><%=i.end_date.strftime('%a, %B %e, %Y')%></td>
      <%end%>
      <td><%=i.course.name%></td>
      <td><%=i.max_students%></td>
    </tr>
    <%end%>
  </table>
