<h1><%=@cohort.name%></h1>
<p><strong>Start Date:</strong> <%=(@cohort.start_date).strftime('%a %B %e, %Y')%></p>
<p><strong>End Date:</strong> <%=(@cohort.end_date).strftime('%a %B %e, %Y')%></p>

<%=link_to 'Edit', edit_course_cohort_path%><br><br>

<h2>List of Students enrolled in Course</h2>



<h2>Instructor</h2>
<%= link_to 'Back to Index', course_cohorts_path%>
