<h1><%=@student.full_name%></h1>
<p><%=@student.age%></p>
<p><%=@student.email%></p>
<p><%=@student.created_at.strftime('%a %B %e, %Y  %l:%M%P')%></p>

<p><%=link_to 'Edit', edit_course_cohort_student_path(@course.id,@cohort.id, @student)%></p>
<%=link_to 'Back to Cohort', course_cohort_path(@course.id, @cohort.id)%>
