  <h1>List of All instructors</h1>
  <div>
    <table class="index">
      <tr class='list_header'>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Current Cohort</th>
        <% if current_user.admin === true %>
        <th>Email</th>
        <th>Age</th>
        <th>Phone Number</th>
        <%end%>
      </tr>
      <% @instructors.each do |i|%>
      <tr>
        <td> <%=i.first_name%></td>
        <td><%=i.last_name%></td>
        <td><%=i.cohort.name%></td>
      <% if current_user.admin === true %>
        <td><%=i.email%></td>
        <td><%=i.age%></td>
          <% if i.phone_number != nil %>
          <td>(<%=i.phone_number.first(3)%>) <%=i.phone_number[3..5]%> - <%= i.phone_number[6..i.phone_number.length]%></td>
          <%end%>
      <%end%>
      </tr>
      <%end%>
    </table>

</div>


<br>
