<h1><%=@instructor.full_name%></h1>
<p>Age: <%=@instructor.age%></p>
<p>Email: <%=@instructor.email%></p>
<p>Yearly salary: <%= @instructor.salary%></p>
<p>Registered on: <%=(@instructor.created_at).strftime('%a %B %e, %Y')%></p>

<%=link_to 'Edit', edit_course_cohort_instructor_path(@course.id, @cohort.id, @instructor)%>
