
<div class='course_show'>
  <div class="">
    <img id = 'course_pic' src="http://www.csceeduskills.com/images/course.jpg" alt="">
  </div>
  <div class="">

      <h1><%=@course.name%></h1>
      <p><%= @course.total_hours%> hours per week</p>
      <p>$<%= @course.tuition%></p>

      <% if logged_in? && current_user.admin === true %>
      <%= link_to 'Edit Course Information', edit_course_path%>
      <%end%>
      <h2>List of Cohorts</h2>
      <div class = 'coh_list'>
        <% @course.cohorts.each do |coh|%>
        <p><%= link_to "#{coh.name}", course_cohort_path(@course.id, coh.id) %></p>
        <%end%>
      </div>

      <% if logged_in? && current_user.admin === true %>
      <%= link_to "Add a new Cohort", new_course_cohort_path(@course.id)%>
      <%end%>
      <br>
      <%= link_to 'Back to Cohort', courses_path%>
  </div>
</div>
