<div class = "nav">
  <div class="logo"></div>
  <div><i class="fas fa-home"></i><%=link_to 'Dashboard', root_path%></div>
  <% if logged_in?%>
  <div class="Instructors"><%=link_to 'Instructors', instructors_index_path%></div>
  <div class="Students"><%= link_to 'Students', students_index_path%></div>
  <div class=""><%=link_to 'Users', users_index_path%></div>
  <div><%= link_to 'Log Out',logout_path, method: :delete%></div>
  <%else%>
  <div><i class="fas fa-sign-in-alt"></i><%=link_to 'Log In', login_path%></div>
  <div><i class="fas fa-user-plus"></i><%=link_to 'Sign Up', users_new_path%></div>
  <%end%>
</div>
